{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div {% if message.tags %}  class="alert alert-{{ message.tags }}"{% endif %}>
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}  

    <div class="text-center">
        <div>
            <h3>{{ auction.title }}</h3>
        </div>
        <div class="m-3">
            <img src="{{ auction.image_url }}" class="img-responsive" height="400px" widht="auto">
        </div>
        {% if auction.active %}
            <div>
                {% if bids %}
                    <h5>Current bid: ${{ current_bid }}</h5>
                {% endif %}
                <p>{{ num_of_bids }} bid(s) so far.</p>
            </div>
            {% if user.is_authenticated %}
                <div class="my-3">
                    {% if auction.author == user %}
                        <form action="{% url 'close_auction' auction.id %}">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Close auction">
                        </form>
                    {% else %}
                        {% if in_watchlist %}
                            <form action="{% url 'remove_watchlist' auction.id %}">
                                <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                            </form>
                        {% else %}
                            <form action="{% url 'add_watchlist' auction.id %}">
                                <input class="btn btn-primary" type="submit" value="Add to watchlist">
                            </form>
                        {% endif %}
                        <div class="my-3">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" name="bid" id="bid" placeholder="Bid">
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div>
                <h4>The winner of the auction is: <strong>{{ winner }}</strong></h4>
                <p><small>This auction doesn't accept bids anymore</small></p>
            </div>
        {% endif %}
    </div>
    
    <!--Details-->
    
    <div>
        <h5>Description</h5>
        <p>{{ auction.description }}</p>
    </div>
    <div>
        <h5>Details</h5>
        <li>Listed by: {{ auction.author }}</li>
        
        {% if auction.category %}
            <li>Category: {{ auction.category.name }}</li>
        {% else %}
            <li>Category: No category listed</li>
        {% endif %}
        
        <li>Creation date: {{ auction.creation_date }}</li>
        <li>Starting bid: ${{ auction.starting_bid }}</li>
    </div>

    <!--Add comments-->

{% endblock %}