{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div {% if message.tags %}  class="alert alert-{{ message.tags }}"{% endif %}>
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}  

    <!-- Validate bid form -->

    <div class="text-center">
        <div>
            <h3>{{ auction.title }}</h3>
        </div>
        <div class="m-3">
            <img src="{{ auction.image_url }}" class="img-responsive" height="400px" widht="auto">
        </div>
        {% if auction.active %}
            <div>
                <!--  change this -->
                {% if auction.current_bid %}
                    <h5>Current bid: ${{ auction.current_bid.value }}</h5>
                {% else %}
                    <h5>Starting price: ${{ auction.starting_price }}</h5>
                {% endif %}
                <p>{{ num_of_bids }} bid(s) so far.</p>
            </div>
            {% if user.is_authenticated %}
                <div class="my-3">
                    {% if auction.author == user %}
                        <form action="{% url 'close_auction' auction.id %}">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Close auction">
                        </form>
                    {% else %}
                        {% if in_watchlist %}
                            <form action="{% url 'remove_watchlist' auction.id %}">
                                <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                            </form>
                        {% else %}
                            <form action="{% url 'add_watchlist' auction.id %}">
                                <input class="btn btn-primary" type="submit" value="Add to watchlist">
                            </form>
                        {% endif %}
                        <div class="my-3">
                            <form action="{% url 'make_bid' auction.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" name="bid" id="bid" min="{{ min_bid }}" placeholder="Bid" step=".01">
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div>
                <h4>The winner of the auction is: <strong>{{ winner.username }}</strong></h4>
                <p><small>This auction doesn't accept bids anymore</small></p>
            </div>
        {% endif %}
    </div>
    
    <!--Details-->
    
    <di class="my-3"v>
        <h4><strong>Description</strong></h4>
        <p>{{ auction.description }}</p>
    </div>
    <div >
        <h4><strong>Details</strong></h4>
        <li>Listed by: {{ auction.author }}</li>
        
        {% if auction.category %}
            <li>Category: {{ auction.category.name }}</li>
        {% else %}
            <li>Category: No category listed</li>
        {% endif %}
        
        <li>Creation date: {{ auction.creation_date }}</li>
        <li>Starting bid: ${{ auction.starting_price }}</li>
    </div>

    <!-- Comments-->
    <div class="my-3">
        <h4><strong>Comments</strong></h4>
        {% if user.is_authenticated %}
            <div class="form-group mb-4">
                <form action="{% url 'add_comment' auction.id %}" method="POST">
                    {% csrf_token %}
                    <label for="add_comment">Add comment</label>
                    <textarea class="form-control" type="text" id="add_comment" name="add_comment" rows="3" placeholder="Add comment"></textarea>
                    <input type="submit" class="btn btn-primary my-2" value="Submit">
                </form>
            </div>
        {% endif %}
        {% for comment in comments %}
            <div class="card m-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ comment.user.username }}</h5>
                        </div>
                        <div class="col text-right">
                            <p class="text-muted">{{ comment.creation_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body m-1">
                    <div class="row">
                        <p class="card-text">{{ comment.body }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}