{% extends "auctions/layout.html" %}

{% block body %}
    <h4>Active auctions</h4>

    {% if auctions %}
    {% for auction in auctions %}
        <div class="col" >
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ auction.title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-image">
                            <img src="{{ auction.image_url }}">
                        </div>
                        <div>
                            <p>{{ auction.description }}</p>
                            <p>Current price: ${{ auction.current_bid }}</p>
                        </div>
                    </div>
                    <a href="{% url 'show_auction' auction.title %}">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <h5>No auctions for today!</h5>
    {% endif %}
    
{% endblock %}