{% extends "auctions/layout.html" %}

{% block body %}
    <h4>Active Listings</h4>

    {% if listings %}
    {% for listing in listings %}
        <div class="col" >
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><a href="{% url 'show_listing' listing.title %}">{{ listing.title }}</a></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-image">
                            <img src="{{ listing.image_url }}">
                        </div>
                        <div>
                            <p>{{ listing.description }}</p>
                            <p>Current price: ${{ listing.current_bid }}</p>
                        </div>
                    </div>
                    <a href="{% url 'show_listing' listing.title %}">Bid</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <h3>No auctions for today!</h3>
    {% endif %}
    
{% endblock %}